.pizza-article span {
  padding-left: 20px;
}

.pizza-article p {
  padding-right: 20px
}

section {
  display: block;
  max-width: 100%;
}

.pizza-article img {
}

.pizza-article div {
  max-width: 65%;
  margin-left: auto;
  margin-right: auto;
}

.heading {
  max-width: 65%;
  margin-left: auto;
  margin-right: auto;
}

div.list {
  background-image: url('../lab-assets/list-bg.png');
  background-repeat: no-repeat;
  max-width: 65%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  min-height: 305px;
  display: flex;
}

div.list ul {
  padding-top: 30px;
  list-style: none;
}

li {
  margin-bottom: 11px;
}

.left-list {
  flex: 1;
  margin-right: 40px;
}

.right-list {
  flex: 2;
}